
@{
    ViewBag.Title = "Vestudiantes";
}

<center><h1>Estudiante exportado exitosamente</h1></center>
<br />
<center><h2>Desea ver los datos del estudiante exportado?</h2></center>
<br>
<center><a href="Index">NO</a>      <a href="Showinf">SI</a></center>

